<div class="row">
  <div class="col-xl-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers',server.id]"
        [queryParams]="{allowEdit:'1'}"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4"> <br>
    
    
    
    <a routerLink="servers">Reload Page</a> <br>
    <!-- In this we will get the error in console because it redirects to 
      
         ==>>     127.0.0.1:4200/servers/servers     <<== (which is not available !)

    which is relative to 127.0.0.1:4200/servers only, for this, we have to go for following process

    -->

    <a routerLink="/servers">Reload Page</a> <br>
    <!-- Just add the / before the servers so it will choose the absolute path ! only and hence we won't get any error. -->



    <app-edit-server></app-edit-server>
    <hr>
    <!-- <app-server></app-server> -->
  </div>
</div>

