<div class="container">
  <div class="row">
    <div class="col-xl-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a routerLink="" href="#">Home</a></li> &nbsp;&nbsp;&nbsp;
        <li role="presentation"><a routerLink="/servers" href="#">Servers</a></li>&nbsp;&nbsp;&nbsp;
        <li role="presentation"><a [routerLink]="['/users']" href="#">Users</a></li>
      </ul>
    </div>
  </div>
  <br> <br>
  <router-outlet></router-outlet>
</div>
