<div class="container">
  <div class="row">
    <div class="col-xl-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation"><a class="p-2" routerLinkActive="bg-light" [routerLinkActiveOptions]="{'exact':true}"  routerLink="" href="#">Home</a></li> &nbsp;&nbsp;&nbsp;
        <li role="presentation"><a class="p-2" routerLinkActive="bg-light"  routerLink="/servers" href="#">Servers</a></li>&nbsp;&nbsp;&nbsp;
        <li role="presentation"><a class="p-2"  routerLinkActive="bg-light" [routerLink]="['/users']" href="#">Users</a></li>
      </ul>
    </div>
  </div>
  <br> <br>
  <router-outlet></router-outlet>
</div>
